.todo {
  @include flex();
  flex-wrap: nowrap;

  background-color: $background-color;
  border-radius: 10px;
  justify-content: space-between;
  flex-grow: 1;  
  margin-bottom: $little-spacing;
  padding: $little-spacing;

  .todo-content {
    @include flex();
    flex-wrap: nowrap;
    width: 90%;

    span {
      align-self:self-start;
      margin: 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  button {
    background: transparent;
    border: none;
    outline: none;
    color: red;
    cursor: pointer
  }
}

.todo:hover {
  background-color: rgba($color: $btns-color, $alpha: .8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
