@font-face {
  font-family: 'Mona-Bold';
  src: url(../font/MonaSans/OTF/Mona-Sans-Bold.otf);
}

@font-face {
  font-family: 'Mona';
  src: url(../font/MonaSans/Mona-Sans.ttf);
}

$primary-color: rgb(0, 247, 255);
$background-color: #F6F6F6;
$back-blue:#BFD3F7;
$btns-color: #6B9FFD;
$grey: #A4A4A4;
$text-color: #F6F6F6;
$primary-font: "Mona";
$bold-font: "Mona-Bold";
$usual-spacing: 1em;
$little-spacing: .5em;
