.container {
  margin: $little-spacing;

  .adding-container {
    @include flex();
    justify-content: space-between;
    border: 2px solid $grey;
    border-radius: $usual-spacing;
    padding: $little-spacing;
    flex: 2;
    width: fit-content;
  
    input {
      width: 80%;
    }

    .add-todo-btn {
      background-color: $btns-color;
      border: none;
      border-radius: $little-spacing;
      color: $text-color;
      cursor: pointer;
      font-weight: 600;
      padding: $little-spacing;
    }
  }
}



